@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

* {
  box-sizing: border-box;
}

/* start reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset */
.container {
  max-width: 1150px;
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap');

#top {}

#top .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 80px;
  /* might need to add 0 */
  align-items: center;
}

#top .info {
  padding: 15px;
  position: relative;
}

#top .info .bluesquare {
  border: 20px solid #dbf1ff;
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 0;
  top: -70%;
  left: -50%;
}

#top .info h1 {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  margin-bottom: 2rem;
  z-index: 1;
}

#top .info p {
  position: relative;
  color: #919191;
  text-transform: capitalize;
  margin-bottom: 4rem;
  z-index: 1;
}

#top .info a {
  position: relative;
  color: #16171b;
  font-size: .9rem;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
  z-index: 1;
  letter-spacing: 2px;
}

#top .img {}

#top .img .background_img {
  background: url('../img/img2.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  max-width: 500px;
  height: 800px;
  margin: 0 auto;
}

/* SERVICES SECTION */
#services {
  padding: 80px;
}

#services .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  margin: 0 auto;
}

#services .title h1 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  z-index: 1;
}

#services .title .circle {
  background: #eef9ff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 23px;
}

#services .services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

#services .services-container .box {
  background: rgba(255, 255, 255, 0);
  padding: 40px;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

#services .services-container .box:hover {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
}

#services .services-container .box .fas {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#services .services-container .box h5 {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

#services .services-container .box p {
  font-size: .8rem;
  line-height: 1.5;
  color: #b3b3b3;
}

#services .services-container .box.blue {
  border-bottom: 2px solid #52b8ff;
}

#services .services-container .box.red {
  border-bottom: 2px solid #ff5253;
}

#services .services-container .box.yellow {
  border-bottom: 2px solid #ffc853;
}

/* PORTFOLIO SECTION */
#portfolio-section {
  padding: 80px 15px;
}

#portfolio-section .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  margin: 0 auto;
}

#portfolio-section .title h1 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  z-index: 1;
}

#portfolio-section .title .psquare {
  background: #ffeded;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 23px;
}

#portfolio-section .portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px 150px;
  grid-gap: 10px;
}

#portfolio-section .portfolio-container .box {
  background: black;
  display: block;
  transition: all .4s ease-in-out;
  cursor: pointer;
  width: 100%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}

#portfolio-section .portfolio-container .box:hover {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
}

#portfolio-section .portfolio-container .box .image .hover-bg{
  padding: 10px 20px;
  background: rgba(255,255,255, 0);
  transition: all .4s ease-in-out;
  height: 100%;
  width:100%;
}

#portfolio-section .portfolio-container .box:hover .image .hover-bg{
  padding: 10px 20px;
  background: rgba(255,53,53, .8);
}
#portfolio-section .portfolio-container .box .image .hover-bg .title{
  height: 100%;
  width: 100%;
}

#portfolio-section .portfolio-container .box .image .hover-bg .title .text{
  background: #52b8ff;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 400px, 0);
  transition: all .3s ease-in-out;
  opacity: 0;
}
#portfolio-section .portfolio-container .box:hover .image .hover-bg .title .text{
  background: #52b8ff;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* images for boxes */

#portfolio-section .portfolio-container .box.image1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#portfolio-section .portfolio-container .box.image1 .image {
  height: 100%;
  width: 100%;
  background: url('https://www.traland.com/img/bookingsystem_ban2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#portfolio-section .portfolio-container .box.image2 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

#portfolio-section .portfolio-container .box.image2 .image {
  height: 100%;
  width: 100%;
  background: url('https://careerswithstem.com.au/wp-content/uploads/2018/07/web-development-programming-resized.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
}

#portfolio-section .portfolio-container .box.image3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#portfolio-section .portfolio-container .box.image3 .image {
  height: 100%;
  width: 100%;
  background: url('https://us.123rf.com/450wm/rawpixel/rawpixel1608/rawpixel160848609/61607926-html-web-development-code-design-concept.jpg?ver=6');
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
}
#portfolio-section .portfolio-container .box.image4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#portfolio-section .portfolio-container .box.image4 .image {
  height: 100%;
  width: 100%;
  background: url('https://previews.123rf.com/images/alexandersikov/alexandersikov1709/alexandersikov170900252/86905307-php-programming-language-web-development-coding-concept-.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
}
#portfolio-section .portfolio-container .box.image5 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

#portfolio-section .portfolio-container .box.image5 .image {
  height: 100%;
  width: 100%;
  background: url('https://previews.123rf.com/images/maxkabakov/maxkabakov1310/maxkabakov131000296/22571450-seo-web-development-concept-pixelated-words-web-analytics-on-digital-3d-render.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
}
#portfolio-section .portfolio-container .box.image6 {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

#portfolio-section .portfolio-container .box.image6 .image {
  height: 100%;
  width: 100%;
  background: url('https://www.xicom.biz/blog/wp-content/uploads/2019/05/php-framework-1.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
}
#portfolio-section .portfolio-container .box.image7 {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

#portfolio-section .portfolio-container .box.image7 .image {
  height: 100%;
  width: 100%;
  background: url('https://www.s-fx.com/wp-content/uploads/2019/06/web-design.jpg');
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
}

/* EXPERIENCE SECTION */
#experience-section{
  padding: 80px 15px;
}
#experience-section .large-title{
  color: #c6e4ff;
  font-weight: 900;
  font-size: 4.5rem;
  text-align: center;
  text-transform: uppercase;
}

#experience-section .experience-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
#experience-section .experience-container .large-icons .square{
  border: 30px solid #52b8ff;
  padding: 5px;
  display: inline-block;
  position: relative;
  top: -100px;
}
#experience-section .experience-container .large-icons .square .blue-box{
  border: 20px solid #52b8ff;
  height: 150px;
  width: 150px;
  background: #52b8ff;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 3px;
}
#experience-section .experience-container .large-icons .circle{
  border: 30px solid #ffc853;;
  padding: 5px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  left: 50px;
  top: 95px;
}
#experience-section .experience-container .large-icons .circle-box{
  color: #ffc853;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width:150px;
  height:150px;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
}
#experience-section .experience-container .large-icons .triangle{
width: 0;
height: 0;
border-style: solid;
border-width: 0 150px 230px 150px;
border-color: transparent transparent #ff5253 transparent;
position: relative;
}

#experience-section .experience-container .large-icons .triangle .triangle-box{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 93.75px 151.75px 93.75px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  left: -94px;
  top:49px;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ff5253;
}
#experience-section .experience-container .large-icons .triangle .triangle-box .text{
  position: relative;
  top: 90px;
  left: -30px;

}
#experience-section .experience-container .info{
  padding-top: 80px;
}
#experience-section .experience-container .info .info-box{
  padding:15px;
}
#experience-section .experience-container .info .info-box h4{
  color:#16171b;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}
#experience-section .experience-container .info .info-box .date{
  color:#52b7ff;
  font-size: .9rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 15px 0;
  display: block;
}
#experience-section .experience-container .info .info-box p{
  color:#b2b2b4;
  font-size: .9rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  display: block;
  line-height: 1.5;
}
